
{% load static %}
<!DOCTYPE html>
<html>
  
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="" class="navbar-brand" href=""><img class="one"src="{% static 'images/logo7.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'useraddPerson' %}">Add Person</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shelterhomes'  %}">Donate</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'index' %}"> Logout</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    </head>
    <body>
         <p> </p>
        <p> </p>
        <h3 style="color:#ff9999"> Hello,{{request.user}} </h3>
        <p> </p>
        <p> </p>
        <div class="card-group">
            <div class="col lg-4">
    <div class="card " style="border:none">
    
    <div class="card-body">
      <h5 class="card-title">Add person or Donate now!</h5>
      
      <p class="card-text"><i class="fas fa-quote-left"></i>
        The Best way to find yourself is to lose yourself in the service of others<i class="fas fa-quote-right"></i>
        <p style="float:right;"> - Mahatma Gandhi </p>
      </p>
      <p class="card-text">
        
      </p>
    </div>
  </div>
</div>
<div class="col lg-4">
  <div class="card" style="border:none">
    <img style="height:500px;width:800px;"
      src="{% static 'images\donate.jpg' %}"
      class="card-img-top"
      alt="..."
    />
    
  </div>
  </div>
</div>

        <!--<div class="container-fluid padding">
            <div class="col-4">
                <h1> hey </h1>
       
            </div>
            <div class="col-8">
        <img style="height:500px;"src="{% static 'images\donate.jpg' %}">
        
            </div>
        </div>
    
    <style>
        body img{
            float:right;

        }
    </style>-->
</body>
</html>
